<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>de Ressaca!</title>
	<link rel='stylesheet' href="{{ MEDIA_URL }}main.css" type='text/css' media='screen'>
	<!--[if gte IE 6]>
  <link rel='stylesheet' href="/media/ie.css" type='text/css' media='screen'>
  <script src="/media/DD_belatedPNG.js"></script>
  <script>
    DD_belatedPNG.fix('h1');
    DD_belatedPNG.fix('#btn-hangover');
    DD_belatedPNG.fix('#he');
  </script>
  <![endif]-->
</head>
<body>
  <h1>#de Ressaca</h1>

  <h2><span>0</span><span>0</span><span>0</span><span>0</span></h2>

  <div id="btn-area">
    <form action="." method="post">
        {% csrf_token %}
        <input id="drunk_person" type="hidden" value="1" />
        <input id="btn-hangover" type="submit" value="Estou de ressaca!" />
    </form>
  </div>

  <a id="he" href="http://horaextra.org">#horaextra</a>
</body>
</html>
