<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>de Ressaca!</title>
	<link rel='stylesheet' href="{{ MEDIA_URL }}main.css" type='text/css' media='screen'>
	<!--[if gte IE 6]>
  <link rel='stylesheet' href="/media/ie.css" type='text/css' media='screen'>
  <script src="/media/DD_belatedPNG.js"></script>
  <script>
    DD_belatedPNG.fix('h1');
    DD_belatedPNG.fix('#btn-hangover');
    DD_belatedPNG.fix('#he');
  </script>
  <![endif]-->
</head>
<body>
  <h1>#de Ressaca</h1>

  <h2>

  {% for number in hangovers %}
      <span>{{ number }}</span>
  {% endfor %}
  </h2>

  <div id="btn-area">
    <form action="." method="post">
        {% csrf_token %}
        <input name="new_hangover" id="new_hangover" type="hidden" value="1" />
        <input name="btn-hangover" id="btn-hangover" type="submit" value="Estou de ressaca!" />
    </form>
  </div>

  <a id="he" href="http://horaextra.org">#horaextra</a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17654242-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
